<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cafe.mapper.CommentMapper">

	<!-- register comment -->
	<insert id="register">
		insert into comment (cafeName, detailName, menuName, contents, uid) 
		values (#{cafeName},#{detailName}, #{menuName}, #{contents},#{uid})
	</insert> 	
	
	<!-- user delete comment -->
	<delete id="delete">
		delete from comment 
		where commentNum=#{commentNum} and uid=#{uid}
	</delete>
	
	<!-- comment list all about a menu -->
	<select id="list" resultType="com.cafe.domain.CommentVO">
		select * from comment 
		where cafeName=#{cafeName} and menuName=#{menuName} and detailName=#{detailName}
		order by regDate desc 
	</select>
	
	<select id="readOne">
		select * from comment
		where commentNum=#{commentNum}
	</select>

	<select id="checkAuth" resultType="int">
		select count(*) from comment where commentNum=#{commentNum} and uid=#{uid}
	</select>
	
	<!-- admin delete comment -->
	<delete id="deleteAdmin">
		delete from comment 
		where commentNum=#{commentNum}
	</delete>
</mapper>