<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cafe.mapper.CommentMapper">

	<!-- register comment -->
	<insert id="register">
		insert into comment (cafeName, menuName, detailName, contents, uid) 
		values (#{cafeName},#{menuName},#{detailName}, #{contents},#{uid})
	</insert> 	
	
	<!-- delete comment -->
	<delete id="delete">
		delete from comment where commentNum=#{commentNum} and uid=#{uid}
	</delete>
	
	<!-- show comment list -->
	<select id="list" resultType="com.cafe.domain.CommentVO">
		select * from comment where cafeName=#{cafeName} and menuName=#{menuName} and detailName=#{detailName} 
	</select>
	
	<select id="readOne">
		select * from comment
		where commentNum=#{commentNum}
	</select>

	<select id="checkAuth" resultType="int">
		select count(*) from comment where commentNum=#{commentNum} and uid=#{uid}
	</select>
</mapper>