<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.cafe.mapper.ComplainMapper">	
	
	<!-- display cafe list -->
	<select id="complainList" resultType="com.cafe.domain.ComplainVO">
		select c.complainNum, c.title, c.content, c.uid, c.regDate, c.reply, c.replyDate, u.nick
		from complain as c, user as u
		where u.uid=c.uid
		order by regDate desc
	</select>
	
	<!-- delete complain -->
	<delete id="delete">
		delete from complain
		where complainNum=#{complainNum}
	</delete>
	
	<!-- admin read a complain-->
	<select id="read" resultType="com.cafe.domain.ComplainVO">
		select c.complainNum, c.title, c.content, c.uid, c.regDate, c.reply, c.replyDate, u.nick
		from complain as c, user as u
		where u.uid=c.uid and complainNum=#{complainNum}
	</select>
	
	<!-- register reply -->
	<update id="registerReply">
		update complain set reply=#{reply} 
		where complainNum=#{complainNum}
	</update>
	
	<!-- delete reply -->
	<update id="deleteReply">
		update complain set reply=""
		where complainNum=#{complainNum}
	</update>

	<select id="listApp" resultType="com.cafe.dto.ComplainDTO">
		select * from complain order by regDate desc
	</select>
	
	<insert id="registerApp">
		insert into complain (title, content, uid) values (#{title}, #{content}, #{uid})
	</insert>
	
	<select id="check" resultType="int">
		select count(*) from complain where uid=#{uid} and complainNum=#{complainNum}	
	</select>
	
	<select id="isReply" resultType="String">
		select reply from complain where complainNum=#{complainNum} 
	</select>

	<select id="readOne" resultType="com.cafe.domain.ComplainVO">
		select complainNum, title, content, uid, regDate, reply, replyDate
		from complain
		where complainNum=#{complainNum}
	</select>
	
	<!-- complain exist check -->
	<select id="checkAdmin" resultType="int">
		select count(*)
		from complain
		where complainNum=#{complaiNum}
	</select>
</mapper>