<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cafe.mapper.DetailMapper">

	<!-- add detail -->
	<insert id="register">
		insert into detail
		(cafeName, detailName)
		values (#{cafeName}, #{detailName})
	</insert>
	
	<!-- display detail cafeteria list -->
	<select id="detailList" resultType="com.cafe.domain.DetailVO">
		select cafeName, detailName 
		from detail
		where cafeName=#{cafeName}
		order by detailName
	</select>

</mapper>