<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cafe.mapper.FixedMapper">

	<!-- fixed menu register -->
	<insert id="register">
		insert into fixed
		(cafeName, detailName, menuName)
		values (#{cafeName}, #{detailName}, #{menuName})
	</insert>
	
	<!-- fixed menu delete -->
	<delete id="delete">
		delete from fixed
		where menuName=#{menuName} and detailName=#{detailName} and cafeName=#{cafeName}
	</delete>
	
	<!-- display fixed menu list -->
	<select id="fixedList" resultType="com.cafe.domain.FixedVO">
		select *
		from fixed
		where cafeName=#{cafeName}
	</select>

	<!-- fixed menu search to use keyword -->
	<select id="searchFixed" resultType="com.cafe.domain.FixedVO">
		<![CDATA[
			select *
			from fixed
			where menuName like CONCAT('%', #{keyword}, '%') and cafeName=#{cafeName}
		]]>
	</select>
	
	<!-- fixed menu already exist -->
	<select id="check" resultType="int">
		select count(*)
		from fixed
		where menuName=#{menuName} and detailName=#{detailName} and cafeName=#{cafeName}
	</select>
	
</mapper>