<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cafe.mapper.LikeMapper">

	<select id="checkLike" resultType="int">
		select count(*) from isLike
		where uid=#{uid} and cafeName=#{cafeName} and detailName=#{detailName} and menuName=#{menuName}
	</select>
	
	<insert id="register">
		insert into isLike (uid, cafeName, detailName, menuName)
		values(#{uid}, #{cafeName}, #{detailName}, #{menuName})
	</insert>
	
	<delete id="delete">
		delete from isLike 
		where uid=#{uid} and cafeName=#{cafeName} and detailName=#{detailName} and menuName=#{menuName}
	</delete>
	
	<select id="myList" resultType="com.cafe.dto.MenuDTO">
		select m.cafeName, m.detailName, m.menuName, m.price, m.point, m.likeNum, m.path
		from isLike as i join menu as m
		where i.cafeName=m.cafeName and i.detailName=m.detailName and i.menuName=m.menuName 
		and uid=#{uid}
	</select>
</mapper>