<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cafe.mapper.MenuMapper">

	<!-- Menu insert in cafe -->
	<insert id="register">
		insert into menu
		(cafeName, detailName, menuName, price, path)
		values (#{cafeName}, #{detailName}, #{menuName}, #{price}, "default")
	</insert> 	

	<!-- All menu display in cafe -->	
	<select id="menuList" resultType="com.cafe.domain.MenuVO">
		select * from menu
		where cafeName=#{cafeName}
		order by menuName
	</select>
	
	<!-- corner menu display in cafe -->	
	<select id="menuDetailList" resultType="com.cafe.domain.MenuVO">
		select * from menu
		where detailName=#{detailName} and cafeName=#{cafeName}
		order by menuName
	</select>

	<!-- Menu remove in cafe -->
	<delete id="delete">
		delete from menu
		where detailName=#{detailName} and menuName=#{menuName} and cafeName=#{cafeName}
	</delete>
	
	<!-- Menu price update in cafe -->
	<update id="modify">
		update menu set price=#{price}
		where detailName=#{detailName} and menuName=#{menuName} and cafeName=#{cafeName}
	</update>
	
	<!-- menu search to use keyword -->
	<select id="searchMenu" resultType="com.cafe.domain.MenuVO">
		<![CDATA[
			select *
			from menu
			where menuName like CONCAT('%', #{keyword}, '%') and cafeName=#{cafeName}
		]]>
	</select>
	
	<!-- menu already exist -->
	<select id="check" resultType="int">
		select count(*)
		from menu
		where menuName=#{menuName} and detailName=#{detailName} and cafeName=#{cafeName}
	</select>
	
	<select id="top10Like" resultType="com.cafe.domain.MenuVO">
		select * from menu
		order by likeNum desc
	</select>
	
	<select id="top10Point" resultType="com.cafe.domain.MenuVO">
		select * from menu
		order by point desc
	</select>
	
	<update id="count">
		update menu set likeNum=likeNum+1
		where cafeName=#{cafeName} and detailName=#{detailName} and menuName=#{menuName}
	</update>
	
	<update id="discount">
		update menu set likeNum=likeNum-1
		where cafeName=#{cafeName} and detailName=#{detailName} and menuName=#{menuName}
	</update>
	
	<select id="checkLikeNum" resultType="int">
		select likeNum from menu
		where cafeName=#{cafeName} and detailName=#{detailName} and menuName=#{menuName}
		
	</select>
	<update id="setPoint">
		update menu set point=#{point}
		where cafeName=#{cafeName} and detailName=#{detailName} and menuName=#{menuName} 
	</update>
</mapper>