<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cafe.mapper.FlagMapper">

	<!-- Add weekly menu -->
	<insert id="register">
		insert into weekly
		(cafeName, menuName, wFlag, dateFlag)
		values (#{cafeName}, #{menuName}, #{wFlag}, #{dateFlag})
	</insert> 	
	
	<!-- display day menu list -->
	<select id="dayList" resultType="com.cafe.domain.WeeklyVO">
		select menuName, dateFlag 
		from weekly
		where cafeName=#{cafeName} and wFlag=#{wFlag}
	</select>
	
	<!-- all delete weekly -->
	<delete id="clear">
		delete from weekly
	</delete>
	
	<!-- delete a weekly menu -->
	<delete id="delete">
		delete from weekly
		where menuName=#{menuName} and wFlag=#{wFlag} and dateFlag=#{dateFlag}
	</delete>

</mapper>